@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.card {
  position: relative !important;
  width: 270px;
  height: 220px;
  margin: 15px;
  background-position: center;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 5px;
  background-color: #6155a6;
  transition: all 300ms linear;
  overflow: hidden;
  transition: all 0.25s ease-in !important;
}

.head {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 0.7rem;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  font-family: "Comfortaa", cursive;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100px;
  height: 40px;
  transform: translate(-50%, -50%);
  color: yellow;
  background-color: #a685e2;
  border: solid 5px #ffffff;
  border-radius: 30px;
  display: none;
  transition: all 0.35s ease !important;
  cursor: pointer;
  font-family: "Comfortaa", cursive !important;
}
.button:hover {
  background-color: #ffabe1;
  color: black;
}
.card:hover .button {
  display: block;
}
.card:hover .code {
  display: none;
}
.card:hover {
  background-color: #a685e2;
}
.card:hover .head {
  color: white;
  opacity: 1;
}

.code {
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 2.5rem;
  color: whitesmoke;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 500px) {
  .card {
    width: 300px;
  }
}
