@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
.background {
  margin-top: 80px;
  height: 300px;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.head {
  width: 100%;
  height: auto;
  text-align: center;
  color: whitesmoke;
  padding-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.bulb {
  width: 200px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  z-index: 18;
  cursor: pointer;
}
.button {
  height: 30px;
  color: red;
  background: none;
}
.p {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  height: auto;
}

