@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: auto;
  background: #fff5c0;
  opacity: 1;
  z-index: 21;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: "Poppins", cursive;
}
.cross {
  position: absolute;
  height: auto;
  right: 10px;
  top: -20px;
  cursor: pointer;
  color: #000000;
}
.name {
  width: 100%;
  margin: auto;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Merriweather", serif;
  padding-top: 2rem;
  color: #374045;
}
.heading {
  height: auto;
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 1.5rem;
  color: #2c061f;
}
.arrow {
  height: 50px;
  margin: auto 5px auto 5px;
  background: none;
  color: black;
  border: none;
  font-family: "Comfortaa", cursive;
  outline: none;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ff7b54;
  border-radius: 2px;
  color: #ffffff;
  margin: 5px;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Comfortaa", cursive;
  font-weight: 600 !important;
  height: 80%;
}
.carousel {
  height: auto;
}
.text {
  height: auto;
}
.skill {
  width: 50%;
  white-space: wrap;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  position: relative;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}
.icon {
  width: 50px;
  height: 50px;
  background-size: contain;
}
@media only screen and (max-width: 1500px) {
  .popup {
    width: 95vw;
  }
}
@media only screen and (max-width: 800px) {
  .heading {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .skill {
    width: 80%;
  }
  .item {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .heading {
    font-size: 0.6rem;
  }
  .name {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 350px) {
  .skill {
    width: 90%;
  }
  .item {
    font-size: 12px;
  }
}
