@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 96vh;
  background: whitesmoke;
  opacity: 1;
  z-index: 21;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: "Poppins", cursive;
  outline:12px solid #11698e;
}
.project {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cross {
  position: absolute;
  top: -10px;
  right: 10px;
  color: white;
  z-index: 21;
  cursor: pointer;
  font-size: 25px;
  height: auto;
}
.name {
  width: 100%;
  margin: auto;
  height: auto;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-family: "Comfortaa", cursive;
  background-color: #11698e;
  padding: 1px;
}
@keyframes git {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.heading {
  width: 70%;
  height: auto;
  text-align: center;
  font-size: 1.1vw;
  opacity: 0.8;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  color: #0f3057;
  font-family: "Comfortaa", cursive;
  letter-spacing: 1px;
}
.github {
  width: 100%;
  text-align: center;
  height: auto;
  font-size: 3rem;
  margin-top: 20px;
  color: #0f3057 !important;
  cursor: pointer;
  animation: git 2s infinite;
}
.carousel {
  width: 90%;
  position: relative;
  margin: auto;
  height: auto;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 100%;
  background-color: #16c79a;
  border-radius: 2px;
  color: #ffffff;
  margin: 15px;
  font-size: 17px;
  font-family: "Comfortaa", cursive;
  font-weight: 400 !important;
}
.text {
  height: auto;
  margin: auto;
  width: 80%;
  text-align: center;
}
.skill {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  position: relative;
  margin-top: 6%;
}
.icon {
  width: 60px;
  height: 60px;
  background-size: contain;
}
@media only screen and (max-width: 900px) {
  .item {
    height: 12vw;
  }
  .name {
    font-size: 2vw;
  }
  .heading {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 750px) {
  .item {
    height: 12vw;
  }
  .name {
    font-size: 1.35rem;
  }
  .heading {
    font-size: 0.7rem;
  }
  .skill {
    margin-top: 12%;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 750px) {
  .skill {
    margin-top: 16%;
  }
  .item {
    font-size: 14px;
  }
}
@media only screen and (max-width: 650px) {
  .name {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 550px) {
  .name {
    font-size: 1.1rem;
  }
  .skill {
    margin-top: 10%;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  .popup {
    height: 85vh;
  }
}
@media only screen and (max-width: 450px) {
  .name {
    font-size: 0.9rem;
  }
  .heading {
    font-size: 0.7rem;
  }
  .skill {
    margin-top: 17%;
  }
}
@media only screen and (max-width: 400px) {
  .name {
    font-size: 0.8rem;
  }
  .heading {
    font-size: 0.6rem;
  }
  .item {
    height: 28vw;
  }
}
