.rec-carousel-wrapper {
  height: 10vw;
}
.rec .rec-carousel {
  height: 10vw !important;
}
.rec.rec-arrow {
  background-color: #455d7a;
  color: white;
}
.rec.rec-arrow:focus {
  background-color: #f95959 !important;
  color: white;
}
.rec.rec-arrow:hover {
  background-color: #f95959 !important;
  color: white;
}
@media only screen and (max-width: 900px) {
  .rec-carousel-wrapper {
    height: 12vw;
  }
  .rec .rec-carousel {
    height: 12vw !important;
  }
}
@media only screen and (max-width: 817px) {
  .rec-carousel-wrapper {
    height: 15vw;
  }
  .rec .rec-carousel {
    height: 15vw !important;
    width: 80%;
  }
}
@media only screen and (max-width:550px){
    .rec-carousel-wrapper {
    height: 20vw;
  }
  .rec .rec-carousel {
    height: 20vw !important;
    width: 100%;
  }
}
@media only screen and (max-width:400px){
    .rec-carousel-wrapper {
    height: 28vw;
  }
  .rec .rec-carousel {
    height: 28vw !important;
    width: 100%;
  }
}
