@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@240&display=swap");

.body {
  position: relative;
  height: 85vh;
  background-color: #f7f7f7;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.about {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.flex {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.div1 {
  width: 50%;
  height: 100%;
  background-color: #f7f7f7;
  overflow: hidden;
}
.div2 {
  width: 50%;
  height: 100%;
  background-color: #f7f7f7;
}
.head1 {
  width: 100%;
  height: 10%;
  text-align: center;
}
.head2 {
  font-size: 1.6rem;
  padding-top: 20px;
}
.aboutme {
  width: 82%;
  margin: auto;
  font-size: 1.5rem;
  color: #606470;
  letter-spacing: 1px;
  text-align: justify;
}
.label {
  padding-left: 10%;
  color: #606470;
  font-size: 1.2rem;
  display: block;
}
.label1 {
  color: #606470;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  margin-top:100px;
}
.icon {
  display: inline-block;
  font-size: 3rem;
  color: #0071c5;
}
.anc {
  text-decoration: none;
  color: #606470;
}
.h2{
  margin-bottom: 40px;
}
@media only screen and (max-width: 880px) {
  .div1 {
    width: 100%;
  }
  .div2 {
    width: 100%;
  }
  .flex {
    flex-direction: row;
  }
}
