@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.body {
  position: relative;
  width: 100%;
  height: auto;
}
.about {
  margin-top: 0%;
  height: auto;
  width: 65%;
  text-align: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  color: black;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 200 !important;
  background-color: #e7e7de;
}
.hi {
  width: 85%;
  margin: auto;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: black;
  font-weight: 800 !important;
  font-size: 1.4rem;
}
.name {
  display: inline;
  color: #ff577f;
  font-size: 3.5rem;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}
@media only screen and (max-width: 1500px) {
  .about {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .about {
    font-size: 0.8rem;
    width: 80%;
    line-height: 30px;
  }
  .hi {
    font-size: 1rem;
  }
  .name {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 450px) {
  .about {
    font-size: 0.7rem;
    width: 80%;
  }
  .hi {
    font-size: 0.9rem;
  }
  .name {
    font-size: 2.5rem;
  }
}
