@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500&display=swap");
* {
  scroll-behavior: smooth;
  height: 100%;
}
.background {
  position: relative;
  width: 100%;
  top: 80px;
  height: calc(100vh - 80px) !important;
}
