@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.background {
  background-color: #222831;
  position: absolute;
  width: 100%;
  height: 295%;
  top: 80px;
}
.img1 {
  height: 500px;
  width: 500px;
  position: absolute;
  right: 20px;
  top: 0px;
}
.head {
  margin-left: 10%;
  margin-top: 6%;
  font-family: "Questrial", sans-serif !important;
  cursor: pointer;
}
.h1 {
  font-size: 4rem;
  color: #a3f7bf;
}
.h2 {
  font-size: 6rem;
  color: whitesmoke;
  transition: all 400ms ease-in-out;
}
.h2:hover {
  color: #ddebea;
  transform: scale(0.99);
}
.aboutme {
  width: 45%;
  height: 250px;
  margin-left: 30%;
  text-align: center;
}
.h3 {
  color: gold;
  text-align: center;
  font-family: "Questrial", sans-serif !important;
}
.h4 {
  color: #15f4ee;
  letter-spacing: 0.8px;
  font-size: 1.2rem;
  font-weight: 300;
}
.profile {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50%;
  background-size: cover;
}
.para {
  font-size: 2rem;
}
.code {
  width: 70%;
  height: 300px;
  margin: auto;
  text-align: center;
  color: rgb(27, 222, 240);
  font-family: "Questrial", sans-serif !important;
}
p {
  text-align: center;
  line-height: 2;
}
hr {
  opacity: 0.1;
}
.ct1 {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 40px;
  margin-left: 20px;
  margin-bottom: 4px;
  transition: all 100ms ease-in;
  cursor: pointer;
}
.ct1:hover {
  transform: scale(1.06);
}
.ct2:hover {
  transform: scale(1.06);
}
.ct3:hover {
  transform: scale(1.06);
}
.ct2 {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  transition: all 100ms ease-in;
}
.ct3 {
  width: 70px;
  height: 70px;
  display: inline-block;
  transition: all 100ms ease-in;
  cursor: pointer
}
.contact {
  width: 100%;
  position: relative;
}
.contacts {
  width: 250px;
  margin: auto;
}
.cont{
  font-family: "Questrial", sans-serif !important;
 color:white;
}
@media only screen and (max-width: 1250px) {
  .h1 {
    font-size: 3rem;
    color: #a3f7bf;
  }
  .background {
  }
  .h2 {
    font-size: 5rem;
    color: whitesmoke;
    transition: all 400ms ease-in-out;
  }
  .img1 {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
  }
}
@media only screen and (max-width: 1050px) {
  .img1 {
    display: none;
  }
}
.header {
  font-family: "Questrial", sans-serif !important;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 2px;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.profile2 {
  width: 300px;
  height: 300px;
}
@media only screen and (max-width: 800px) {
  .background {
    height: 400%;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 5rem;
  }
  .background {
    height: 500%;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    font-size: 3rem;
  }
  .h1 {
    font-size: 2rem;
    margin-top: 80px;
  }
  .profile2 {
    width: 200px;
    height: 200px;
  }
  .profile {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    background-size: cover;
  }
}
