@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.navbar {
  width: 100%;
  position: fixed;
  top: 0%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: #3457D5;
  transition: all 200ms ease;
  font-weight: 300;
  z-index: 20;
  font-family: "Comfortaa", cursive;
}
.name {
  position: absolute;
  left: 20px;
  color: #ffffff;
  top: 10px;
}
.btns {
  position: absolute;
  width: 40% !important;
  right: 0% !important;
  height: 100%;
}

.anc {
  margin-right: 50px;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
  color: #f4f4f4;
  border: none;
  text-decoration: none;
  transition: all 500ms ease-in;
  outline: none;
  text-decoration: none !important;
  border: none !important;
  height: 2%;
}

.anc:hover {
  color: #facf5a;
}
.button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 12px;
  background: none;
  border: none;
  outline: none;
  display: none;
}
.l1 {
  margin-top: 10px;
  width: 80%;
  height: 3px;
  background-color: #ffffff;
}
.l2 {
  width: 80%;
  height: 3px;
  background-color: #ffffff;
  margin-top: 7px;
}
.l3 {
  width: 80%;
  height: 3px;
  background-color: #ffffff;
  margin-top: 7px;
}
.l4 {
  width: 80%;
  height: 3px;
  background-color: #ffffff;
  margin-top: 6px;
  position: absolute;
  transform: rotate(45deg);
}
.l5 {
  width: 80%;
  height: 3px;
  background-color: #ffffff;
  margin-top: 6px;
  position: absolute;
  transform: rotate(-45deg);
}
.l6 {
  display: none;
}
.toggle {
  display: inline-block;
}
@media only screen and (min-width: 1050px) {
  .btns {
    position: absolute;
    width: 700px;
    right: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    display: inline-block !important;
  }
}
@media only screen and (max-width: 1050px) {
  .navbar {
    background-color: #3457D5;
  }
  .button {
    display: inline-block;
  }
  .btns {
    position: absolute;
    width: 100% !important;
    height: 1000%;
    right: 0%;
    top: 80px;
    justify-content: center;
    text-align: center;
    display: none;
    background: #3457D5;
  }
  .anc {
    margin-top: 50px;
    margin-right: 0px;
    display: block;
    text-align: center;
  }
  .anc:hover {
    color: gold;
    border: none;
  }
}
