@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap");
.back {
  width: 100%;
  height: auto;
  background-color: #00428c;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: block;
}
.head2 {
  width: 40%;
  height: auto;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  margin: auto;
  margin-top: 20px;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: #f6ecf0;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.icon {
  width: 100%;
  height: 100px;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  font-size: 2.2rem;
}
.anc {
  text-decoration: none;
  background-color: none;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  transition: all 300ms ease-in;
}
.anc:hover {
  transform: scale(1.1);
}
.img {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  margin-top: 1rem;
}
.image {
  width: 70px;
}
.madewith {
  height: auto;
  width: 100%;
  color: white;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-size: 400;
  font-size: 1.5rem;
}
@media only screen and (max-width: 580px) {
  .icon {
    width: 80%;
    font-size: 2rem;
  }
  .head2 {
    width: 80%;
  }
}
