@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 40px 60px;
  height: 25px;
  width: 40%;
  font-family: "Questrial", sans-serif !important;
}

.progress-done {
  background: linear-gradient(to left, #85cfcb, #219897);
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
.skills {
  font-weight: 400;
  font-size: 18px;
  width: 10%;
  position: absolute;
  bottom: 12px;
  left: 2px;
  color: white;
}
@media only screen and (max-width:900px){
    .progress{
      width: 80%;
    }
}
@media only screen and (max-width:500px){
  .progress{
    margin-left: 20px;
    width: 90%;
  }
}