@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100&display=swap");

.skill {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 2.5rem;
  font-family: "Comfortaa", sans-serif;
}
