.background {
  height: auto;
  margin-top: 80px;
}
.skill {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon {
  height: 70px;
  width: 70px;
  background-size: contain;
  margin: 3%;
  transition: all 300ms ease;
}
.icon:hover {
  transform: scale(1.1);
}

.back {
  margin-top: 80px;
  height: 300px;
  position: relative;
  background-image: linear-gradient(#3457d5, #007fff);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.head {
  width: 100%;
  height: auto;
  text-align: center;
  color: whitesmoke;
  padding-top: 50px;
  font-family: "Comfortaa", sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  font-size: 1.2rem;
}
.skillsi {
  width: 200px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 18;
  cursor: pointer;
}
.percent {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.measure {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-size: 2rem;
  color: #000000;
}
@media only screen and (max-width:500px){
  .head{
    font-size: 0.9rem;
  }
  .measure{
    font-size: 1.5rem;
  }
}