@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body{
  background-color:#222831;
}
.background {
  font-family: "Questrial", sans-serif !important;
  text-align: left;
  position: absolute;
  margin-top: 90px;
  width: 100%;
  background-color: #222831;
}
.img {
  position: absolute;
  width: 550px;
  height: 550px;
  right: 50px;
  top: 0px;
}
.header {
  font-family: "Questrial", sans-serif !important;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin-left: 60px;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.list {
  color: gold;
  font-size: 1.5rem;
  font-weight: 500;
}
.para {
  text-align: left;
  margin-left: 80px;
  color: #15f4ee;
  font-size: 1.2rem;
}
.about {
  width: 70%;
  margin-left: 60px;
}
@media only screen and (max-width: 1000px) {
  .img {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    font-size: 3.7rem;
    margin-left: 20px;
  }
  .about {
    margin-left: 20px;
    width: 80%;
  }
  .li {
    margin-left: 30px;
    font-size: 1.5rem;
  }
}
